{
  "singleQuote": false,
  "trailingComma": "none",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "printWidth": 80,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "spaceBeforeFunctionParen": false
}
